<ion-view title="face" id="page4" style="background-color:#D1EBF1;" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="list card " id="face-card24">
            <ion-item class="item-icon-right  " id="face-list-item13">Let's Scan Your Face
                <i class="icon ion-android-camera"></i>
            </ion-item>
            <div style="margin: 0px; line-height: 250px; text-align: center; background-color: rgb(232, 235, 239);">
                <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
            </div>
            <ion-item id="face-list-item15" class="  ">Look In the Camera and say Cheese!</ion-item>
        </div>
        <button id="face-button7" class=" button button-royal  button-block ">Click To Take Photo</button>
    </ion-content>
</ion-view>