<ion-view title="Logout" id="page6" style="background-color:#D1EBF1;" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="spacer" style="width: 300px; height: 84px;"></div>
        <h1 id="logout-heading2" style="color:#000000;text-align:center;" class=" ">Thank you..</h1>
        <div class="spacer" style="width: 300px; height: 44px;"></div>
        <a ui-sref="menu.home" id="logout-button10" class=" button button-positive  button-block ">Go to Home</a>
    </ion-content>
</ion-view>