<ion-view title="signup" id="page3" style="background-color:#D1EBF1;" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="signup-form5" class="list ">
            <label class="item item-input item-floating-label " id="signup-input4" name="fname">
                <input type="text" placeholder="First Name">
            </label>
            <label class="item item-input item-floating-label " id="signup-input8" name="lname">
                <input type="text" placeholder="Last Name">
            </label>
            <label class="item item-input " id="signup-textarea1" name="address">
                <span class="input-label"></span><textarea placeholder="Address"></textarea>
            </label>
            <label class="item item-input item-floating-label " id="signup-input9" name="phone">
                <input type="tel" placeholder="Phone">
            </label>
            <label class="item item-input item-floating-label " id="signup-input10" name="city">
                <input type="text" placeholder="City">
            </label>
            <label class="item item-select " id="signup-select2" name="state">
                <span class="input-label">State</span>
                <select>
                    <option>Texas</option>
                    <option>Virginia</option>
                    <option>California</option>
                </select>
            </label>
            <label class="item item-input item-floating-label " id="signup-input5" name="email">
                <input type="email" placeholder="Email Address">
            </label>
            <label class="item item-input item-floating-label " id="signup-input12" name="confirm_email">
                <input type="email" placeholder="Confirm Email">
            </label>
            <label class="item item-input item-floating-label " id="signup-input7" name="username">
                <input type="text" placeholder="Username">
            </label>
            <label class="item item-input item-floating-label " id="signup-input6" name="password">
                <input type="password" placeholder="Password">
            </label>
            <button id="signup-button4" class=" button button-calm  button-block icon-right ion-android-add-circle ">Create Account</button>
            <a ui-sref="menu.login" id="signup-button9" class=" button button-balanced  button-block icon-right ion-android-contact ">Log In</a>
        </form>
    </ion-content>
</ion-view>